<!DOCTYPE html>
<html lang="en">

<%- include('../dashboard/partials/header.ejs')%>


<body class="">
<div class="wrapper ">
    <div class="main-panel">
        <%- include('./partials/sidebar.ejs')%>
        <%- include('../dashboard/partials/navbar.ejs')%>
        <%- include('./partials/content-api.ejs')%>

    </div>
</div>

<%- include('../dashboard/partials/footer.ejs')%>
</body>

</html>