<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs')%>


<body class="">
  <div class="wrapper ">
    <div class="main-panel">
        <%- include('./partials/sidebar.ejs')%>
        <%- include('./partials/navbar.ejs')%>
        <%- include('./partials/content.ejs')%>

    </div>
  </div>

  <%- include('./partials/footer.ejs')%>
</body>

</html>