<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs')%>


<body class="">
<div class="wrapper ">
  <div class="main-panel">
    <%- include('./partials/sidebar.ejs')%>
    <%- include('./partials/navbar.ejs')%>
    <%- include('./partials/content.ejs')%>

  </div>
</div>

<%- include('./partials/footer.ejs')%>
</body>

</html>